html {
  box-sizing: border-box;
  background-color: ;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  display: flex;
  margin: 0 0;
}
