html {
  box-sizing: border-box;
  background-color: #999
;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

img{
  width: 5em;
}
